In [8]:
import pandas as pd

In [15]:
%%time
train_df = pd.read_csv('../../cat-in-the-dat/train.csv')
test_df = pd.read_csv('../../cat-in-the-dat/test.csv')

CPU times: user 1.44 s, sys: 49.8 ms, total: 1.49 s
Wall time: 1.49 s

In [10]:
from category_encoders.target_encoder import TargetEncoder
te = TargetEncoder()
high_card = ['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_5']
target = train_df['target']

In [12]:
train_df[high_card].head()

       nom_5      nom_6      nom_7      nom_8      nom_9 ord_5
0  50f116bcf  3ac1b8814  68f6ad3e9  c389000ab  2f4cb3d51    kr
1  b3b4d25d0  fbcb50fc1  3b6dd5612  4cd920251  f83c56c21    bF
2  3263bdce5  0922e3cb8  a6a36f527  de9c9f684  ae6800dd0    Jc
3  f12246592  50d7ad46a  ec69236eb  4ade6ab69  8270f0d71    kW
4  5b0f5acd5  1fe17a1fd  04ddac2be  cb43ab175  b164b72a7    qP

In [27]:
import numpy as np
xte = TargetEncoder()
X = np.random.randint(0,100, 1000).astype(str)
y = np.random.randint(0,10, 1000)

X = pd.DataFrame(X)

X.head()

    0
0  61
1  16
2  90
3  41
4  27

In [28]:
t_X = xte.fit_transform(X = X, y = y)

In [35]:
(X.values == '61').sum()

12

In [33]:
t_X.head()

          0
0  4.583331
1  4.928570
2  3.750011
3  5.083322
4  2.583620

In [37]:
train_df[high_card] = te.fit_transform(X = train_df[high_card], y = target)

In [42]:
train_df[high_card].nom_5.describe()

count    300000.000000
mean          0.305880
std           0.056439
min           0.144737
25%           0.261715
50%           0.306034
75%           0.348364
max           0.429577
Name: nom_5, dtype: float64

In [44]:
a = np.random.rand(4,13)

In [47]:
a[2][0]

0.3609302742630581